
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}


/* Layout */

section {
  float: left;
  width: 50%;
}


aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR styling/typesetting CSS code BELOW HERE */

/* changed nav bar above and down below */

body {
  font-family: "Lora", serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: normal;
  word-spacing: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
}



li {
  line-height: 1.5;
  margin-bottom: 0.3rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

/* Links */

a:link {
  color: #a66;
  text-decoration: underline;
}

a:visited {
  color: #A277CC;
}

a:hover {
  color: #cc7777;
  text-decoration: none;
}

a:focus {
  color: #cc7777;
  outline: 2px solid #cc7777; 
  outline-offset: 2px;
}

section a[href^="http"]::after,
section a[href^="https"]::after {
  content: url("external-link-52.png"); 
  
  display: inline-block; 
  width: .7rem;       
  height: .7rem;      
  margin-left: -.7rem;
  margin-right: 2rem;
  
  vertical-align: text-top;

  transform: scale3d(0.5, 0.5, 1);  
}


/* Layout */

section h1 + p,
section h2 + p,
section h3 + p{
  text-indent: 1.5rem;
}

/* lists */

ul, ol {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
}

nav {
  position: initial;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: block;
  justify-content: center;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #a66;
  border-radius: 20px;
  transition: background-color 0.3s;
}
nav ul li a:hover {
  background-color: #cc7777;
}


nav a:link {
  color: white; 
  text-decoration: none;
}

nav a:visited {
  color: white; 
}

nav a:hover {
  text-decoration: underline; 
}

nav a:focus {
  outline: 2px solid #CC7777; 
  outline-offset: 2px;
}


nav ul, nav ol {
  padding-left: 0;
}


